<span class="pull-left" ng-class="{disabled: currentPage == 0}">
                        <a href ng-click="prevPage()">« Prev pull request</a>
                    </span>
<span ng-repeat="n in range(pullRequests.length)" ng-class="{active: n == currentPage}" ng-click="setPage()">
                        <a href ng-bind="n + 1">1</a>
                    </span>
<span class="pull-right" ng-class="{disabled: currentPage == pullRequests.length - 1}">
                        <a href ng-click="nextPage()">Next pull request »</a>
                    </span>
<table class="table table-striped table-condensed table-hover">
    <tbody>
        <div loading="loading">
            <ul ng-repeat="pr in pagedItems[currentPage]">
                <hr>
                <p class="pullRequestTitle"><strong>Pull request n°{{pr.number}}</strong></p>
                <ul>
                    <li ng-repeat="fileContent in filesContent">
                        <hr>
                        <p>File name : {{fileContent.filename}}</p>
                        <p>Pull request from : <a href="{{fileContent.forkRepo}}" target="_blank">{{fileContent.forkRepo}}</a></p>
                        <p>File id : {{fileContent.id}}</p>
                        <p>File score : {{fileContent.score}}</p>
                        <pre class="prettyprint" ng-class="styleClass(fileContent)" ng-show="{{fileContent.status == 'added'}} || {{fileContent.status == 'removed'}}"><code class="language-java">{{fileContent.content}}</code></pre>
                        <pre class="prettyprint" ng-show="{{fileContent.status == 'modified'}}"><code class="language-java"><div ng-bind-html="fileContent.content"></div></code></pre>
                    </li>
                </ul>
            </ul>
        </div>
    </tbody>
</table>
<!--
<div loading="loading">
    <ul>
        <li ng-repeat="pr in pullRequests">
            <hr>
            <p class="pullRequestTitle"><strong>Pull request n°{{pr.number}}</strong></p>
            <ul>
                <li ng-repeat="fileContent in filesContent">
                    <hr>
                    <p>File name : {{fileContent.filename}}</p>
                    <p>Pull request from : <a href="{{fileContent.forkRepo}}" target="_blank">{{fileContent.forkRepo}}</a></p>
                    <p>File id : {{fileContent.id}}</p>
                    <p>File score : {{fileContent.score}}</p>
                    <pre class="prettyprint" ng-class="styleClass(fileContent)" ng-show="{{fileContent.status == 'added'}} || {{fileContent.status == 'removed'}}"><code class="language-java">{{fileContent.content}}</code></pre>
                    <pre class="prettyprint" ng-show="{{fileContent.status == 'modified'}}"><code class="language-java"><div ng-bind-html="fileContent.content"></div></code></pre>
                </li>
            </ul>
    </ul>
</div> -->