<div loading="loading">
    <ul>
        <li ng-repeat="pr in pullRequests">
            <hr>
            <p class="pullRequestTitle"><strong>Pull request n°{{pr.number}}</strong></p>
            <ul>
                <li ng-repeat="fileContent in filesContent">
                    <hr>
                    <p>File name : {{fileContent.filename}}</p>
                    <p>File path : {{fileContent.path}}</p>
                    <p>File id : {{fileContent.id}}</p>
                    <p>File score : {{fileContent.score}}</p>
                    <pre class="prettyprint"><code class="language-java">{{fileContent.content}}</code></pre>
                </li>
            </ul>
    </ul>
</div>