<div class="formContent">
    <div class="form-wrapper greyBox">
        <form class="form-inline" ng-submit="submitUrl()">
            <div class="form-group">
                <label for="urlInput">Enter github repository url : </label>
                <input id="urlInput" type="text" class="form-control" ng-required="true" ng-model="url.value" placeholder="Git repository url ...">
                <input class="btn btn-primary backgroundApp" type="submit" id="submit" value="Submit" />
            </div>
        </form>
    </div>
</div>