<div id="page-wrapper" ng-class="{'open': true}" ng-cloak>
    <div id="sidebar-wrapper">
        <ul class="sidebar">
            <li class="sidebar-main">
                <a>
                    <span class="menu-icon glyphicon glyphicon-transfer"></span>
                </a>
            </li>
            <li class="sidebar-list">
                <a href="/"><span class="menu-icon">Home</span></a>
            </li>
            <li class="sidebar-list sidebar-listlink">
                <a href="https://github.com/FranckW/projet1_opl" target="_blank"><span class="menu-icon">GitHub</span></a>
            </li>
            <li class="sidebar-list sidebar-listlink">
                <a href="https://github.com/FranckW/projet1_opl/blob/master/README.md" target="_blank"><span class="menu-icon">About</span></a>
            </li>
        </ul>
    </div>
    <div id="content-wrapper">
        <div class="page-content">
            <div class="row header">
                <div class="col-xs-12">
                    <div class="meta">
                        <div class="page">
                            Pull Request analyzer
                        </div>
                        <div class="breadcrumb-links">
                            Pull Request analyzer / Home
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>